@import '../../assets/stylesheets/_base';

.ng-filter-bar {
  position: relative;
  .ng-filter-icon {
    padding: 5px 7px;
    color: $color-pf-black-700;
    border: 1px solid;
    border-color: $color-pf-black-400;
    border-bottom: 0;
  }
  .ng-filter-list {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    min-width: 176px;
    .filter-search {
      display: inline-block;
      width: 100%;
      border: 1px solid;
      border-color: $color-pf-black-400;
      input[type="text"] {
        border: 0;
        padding-right: 30px;
      }
      i.fa-close {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
    .list-wrapper {
      position: relative;
      left: 0;
      right: 0;
      .dropdown-menu {
        min-width: 176px;
      }
      .ng-filter-list-primary {
        position: inherit;
        top: -1px;
        bottom: 0;
        margin: 0;
        box-shadow: none;
      }
      &:hover .ng-filter-list-sec {
        display: block;
        animation: fadeIn 0.5s;
      }
      .ng-filter-list-sec {
        position: inherit;
        top: -1px;
        margin: 0;
        margin-left: -1px;
        overflow: scroll;
        box-shadow: none;
      }
    }
  }
  .filter-list-right {
    position: relative ;
    right: 0;
    left: auto;
    float: right ;
    .list-wrapper {
      right: 0;
      .ng-filter-list-primary {
        right: 0;
        float: right ;
      }
      .ng-filter-list-sec {
        margin-left: 0;
        margin-right: -1px;
      }
    }
  }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
